In [ ]:
#Form k clusters by assigning each instance to its nearest centroid.
#Recompute the centroid of each cluster.
#In this section, we perform k-means clustering on a toy example of movie ratings dataset. 
import pandas as pd

ratings = [['john',5,5,2,1],['mary',4,5,3,2],['bob',4,4,4,3],['lisa',2,2,4,5],['lee',1,2,3,4],['harry',2,1,5,5]]
titles = ['user','Jaws','Star Wars','Exorcist','Omen']
movies = pd.DataFrame(ratings,columns=titles)
movies

    user  Jaws  Star Wars  Exorcist  Omen
0   john     5          5         2     1
1   mary     4          5         3     2
2    bob     4          4         4     3
3   lisa     2          2         4     5
4    lee     1          2         3     4
5  harry     2          1         5     5

In [ ]:
# apply k-means clustering (with k=2) on the movie ratings data.
# You must must remove the "user" column first before applying the clustering algorithm. The cluster assignment for each user is displayed as a dataframe object.

In [ ]:
movies.drop(['user'],axis=1,inplace=True)
df=movies.values
df

array([[5, 5, 2, 1],
       [4, 5, 3, 2],
       [4, 4, 4, 3],
       [2, 2, 4, 5],
       [1, 2, 3, 4],
       [2, 1, 5, 5]])

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
km = KMeans(n_clusters = 2)
pred=km.fit_predict(df)
pred

array([1, 1, 1, 0, 0, 0], dtype=int32)

In [ ]:
#by this we can conclude that the two clusters we have are as that first three rows or users form one cluster and remaining three form other.

In [ ]:
km.cluster_centers_

array([[1.66666667, 1.66666667, 4.        , 4.66666667],
       [4.33333333, 4.66666667, 3.        , 2.        ]])

In [ ]:
#these are the centeroids of those two clusters